
<app-user></app-user>
<div>
    <h1>¿Qué es Angular?</h1>
    <article>
        <p>
            Angular es un framework de desarrollo de aplicaciones web de código abierto mantenido por Google. Se utiliza para construir aplicaciones de una sola página (SPA, por sus siglas en inglés) que permiten una experiencia de usuario fluida y eficiente al cargar y actualizar solo las partes necesarias de la página web, en lugar de recargar toda la página. Angular está diseñado en TypeScript, un superconjunto de JavaScript, y es conocido por su arquitectura basada en componentes, la cual permite crear aplicaciones escalables y mantenibles.
        </p>
        <p>
            Este framework utiliza conceptos como el enlace de datos (data binding) y la inyección de dependencias para facilitar la sincronización automática de la interfaz de usuario con los datos de la aplicación, así como para gestionar de manera eficiente los servicios y las dependencias que estos requieren. Angular emplea el modelo MVC (Modelo-Vista-Controlador) o su derivado MVVM (Modelo-Vista-Modelo de Vista), lo cual permite estructurar el código de manera que sea fácil de entender y de mantener, especialmente en aplicaciones grandes y complejas.
        </p>
        <p>
            La versión inicial, AngularJS, fue lanzada en 2010 y se basaba en JavaScript. Sin embargo, en 2016 Google lanzó una reescritura completa conocida simplemente como "Angular", en la que se hicieron cambios significativos en su arquitectura y características. Desde entonces, Angular ha evolucionado a través de varias versiones, manteniendo un ciclo de actualizaciones periódicas que introducen mejoras y nuevas funcionalidades.
        </p>
        <p>
            Angular es especialmente popular en grandes proyectos empresariales debido a su robustez y a la gran cantidad de herramientas que incluye, como Angular CLI (Command Line Interface), que permite a los desarrolladores inicializar, desarrollar, probar y desplegar aplicaciones de manera eficiente. Adicionalmente, cuenta con un extenso ecosistema de bibliotecas y herramientas, lo cual facilita la integración de funciones avanzadas como la administración de rutas, el manejo de formularios y la validación, entre muchas otras.
        </p>
        <p>
            En resumen, Angular es una herramienta poderosa para el desarrollo de aplicaciones web modernas que requieren una experiencia de usuario dinámica, rápida y responsiva. Gracias a su arquitectura modular y a sus herramientas de desarrollo, permite a los equipos de desarrollo crear aplicaciones web complejas con un código organizado, mantenible y fácil de escalar.
        </p>
    </article>
    @defer (on viewport) {
        <app-comments></app-comments>
    } @placeholder {
        <p>
            Futuros comentarios
        </p>
    } @loading {
        <p>Cargando comentarios</p>
    }
    
</div>


<router-outlet />
